@model IEnumerable<SchoolManagement.Models.Student>



@{
    ViewData["Title"] = "Tabs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="tabs" style="border:none;">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#tableM">Timetable</a></li>
        <li><a href="#profile">Account</a></li>
    </ul>

    <div id="home">
        <h2>HELLO @User.Identity.Name WELCOME TO DEONSTAR STUDENT ACCOUNT</h2>
    </div>
    <div id="tableM">
        <p>HERE'S' YOUR TIMETABLE FOR THE TERM.</p>
        @if (Model.Count() > 0)
        {
            <table class="table-bordered table-striped table-hover" style="width:100% ">
                <thead>
                    <tr>
                        <th>MONDAY</th>
                        <th>TUESDAY</th>
                        <th>WEDNESDAY</th>
                        <th>THURSDAY</th>
                        <th>FRIDAY</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td width="20%">@student.Monday</td>
                            <td width="20%">@student.Tuesday</td>
                            <td width="20%">@student.Wednesday</td>
                            <td width="20%">@student.Thursday</td>
                            <td width="20%">@student.Friday</td>



                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <p>No item created yet</p>
        }

    </div>


    <div id="profile">
        <div style="width: 18rem;">
            <img src="" class="card-img-top" alt="Please Upload an Image">
            <input type="file" name="name" value="" />

        </div>
        <div>
            <p>Username: @User.Identity.Name </p>
            <p>Password:</p>
            <a style="border: 1px solid hsl(219, 88%, 48%); border-radius: 7px; font-size: 15px; padding: 10px;" href="#" onclick="alert('Sorry Page not found. Try again later')">Edit information</a>
        </div>

        <br><br>
            <div>
                <h3 style="background-color: hsl(241, 71%, 61%); border-radius: 5px;">Course: </h3>
            </div>
            <div>
                <p><strong>Topics</strong></p>
                <p>Chemistry</p>
                <p>Biology</p>
                <p>Physics</p>
                <p>Elective Maths</p>
            </div>


    </div>
    </div>
